@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.line1 {
  display: inline-block;
  width: 1px;
  height: 160px;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.5)
  );
  position: absolute;
  left: 19px;
  bottom: calc(100% + 20px);
}

.line1::after,
.line2::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: -2px;
  transform: translateY(-1px);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.line2 {
  top: calc(100% + 20px);
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.5)
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.download-btn::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(161, 225, 65);
  transition: all 0.4s;
}
.download-btn:hover::after {
  top: 0;
  border-radius: 0;
}

.heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: white;
}

.nav-link.active {
  color: #000000;
  background-color: white;
  padding: 7px 10px;
  border-radius: 25px;
}
